%p
  = link_to 'New Pairing Day', new_team_pairing_day_path(team)

%table.table.table-striped.table-condensed.table-bordered
  %tr
    %th
      Pairing date
    %th
      Action
  = render(partial: 'pairing_days/pairing_day_row', collection: team.pairing_days.order("pairing_date DESC"), as: 'pairing_day')
