%h3
  Teams

.new-item
  = link_to 'New Team', new_company_team_path(@company)

%table.table.table-striped.table-condensed.table-bordered
  %thead
    %tr
      %th
        Name
  %tbody
    = render(partial: 'team_row', collection: @teams, as: 'team')
