= render(partial: "shared/breadcrumb",
  locals: { company: @company,
            employees: @employees })
%h3
  Employees

.new-item
  = link_to 'New Employee', new_company_employee_path(@company)

%table.table.table-striped.table-condensed.table-bordered
  %thead
    %tr
      %th
        Name
      %th
        Action
  %tbody
    = render(partial: 'employee_row', collection: @employees, as: 'employee')
= link_to("Back", company_url(@company))
