%h3
  Pairs

- if pairing_day.available_team_memberships?
  .new-item
    = link_to 'New Pair', new_pairing_day_pair_path(pairing_day)

%table.table.table-striped.table-condensed.table-bordered
  %thead
    %tr
      %th
        Name
      %th
        Action
  %tbody
    = render(partial: "pairs/pair_row", collection: pairing_day.pairs.all, as: 'pair')

