%h3
  = @pairing_day.pairing_date
%br

= render(partial: 'pairs', locals: { pairing_day: @pairing_day })

= render(partial: 'teams/matrix', locals: { team: @pairing_day.team })

%br
= link_to("Back", team_url(@pairing_day.team))
