%h3
  Dashboard
.row-fluid
  .span6
    .teams
      %h5
        My Teams
      = render(partial: "available_team", collection: current_user.available_teams)
  .span6
    %h5
      My Information
    .user-information
      .email
        %strong
          Email:
        = current_user.email
