.navbar
  .navbar-inner
    .container
      %ul.nav
        %li
          = link_to("About", about_path)
        %li
          = link_to("Companies", root_path)
      = render("shared/sign_in_sign_out")
