%h3
  Help
%p
  Pairtrix allows companies to create employees and teams.
%p
  Each team has a number of team memberships which are employees who are members of the team for a specific date range.
%p
  Once a team has a number of active memberships, you can use the matrix to generate pairs for the current day.
%p
  The matrix will track the pairings of active team members for the past two weeks. This should allow a team of six to each pair twice.
  %br
  Any pair that has been matched more than three times in a two week span will begin to display as a warning.


