%h5
  Team allocation
.row-fluid
  .span2
    = render(partial: "available_employees", locals: { available_employees: company.available_employees })
  .span10
    = render(partial: "team", collection: company.teams)
.clearfix

