%h3 Companies

= link_to 'New Company', new_company_path

%table.table.table-striped.table-condensed.table-bordered
  %tr
    %th
      Name
    %th
      Action
  = render(partial: 'company_row', collection: @companies, as: 'company')
