%h3 Companies

- if user_signed_in?
  .new-item
    = link_to 'New Company', new_company_path

%table.table.table-striped.table-condensed.table-bordered
  %thead
    %tr
      %th
        Name
      - if can? :update, @companies
        %th
          Action
  %tbody
    = render(partial: 'company_row', collection: @companies, as: 'company')
