body, html {
  height: 100%;
}

.main {
  padding-top: 20px;
}

#loading {
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 100;
  display: none;
}

.header {
  margin-top: 10px;
}

.footer {
  text-align: right;
}

/* Rails scaffold style compatibility */
.error-explanation {
  @extend .alert;
  @extend .alert-error;
  @extend .alert-block; /* optional */
}

.field_with_errors {
  @extend .control-group.error
}

.form-actions.unstyled {
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
  background-color: $white;
  border-top: none;
}

.faded {
  opacity:0.1;
}

.table tbody tr:hover td {
  background-color: #C0FBE8;
}

.matrix-table {
  thead td {
    text-align: center;
  }
  .matrix-row-name {
    text-align: right;
  }
  .matrix-row-paired-count {
    text-align: center;
    vertical-align: middle;
    font-size: 36px;
    cursor: pointer;
    &:hover {
      background: $green !important;
    }
  }
  .created-pair {
    background: $green !important;
    cursor: default;
  }
  .pairing-count-notice {
    color: $yellow !important;
    font-weight: bold;
  }
  .pairing-count-warning {
    color: $red !important;
    text-shadow: $black 1px 1px 2px;
    font-size: 48px;
    font-weight: bold;
  }

  tbody tr:hover td,
  tbody tr:hover th {
    background-color: transparent;
  }
}


