body {
  margin-top: 40px;
}

.main {
  margin-top: 15px;
}

.navbar .brand {
  margin-left: 0px;
}

.navbar-fixed-bottom p {
  padding-right: 10px;
}

#loading {
  position: absolute;
  top: 40px;
  right: 30px;
  z-index: 100;
  display: none;
}

h3 {
  margin-bottom: 10px;
}

.user-information {
  margin: 10px;
}

.new-item {
  margin: 10px;
}

/* Rails scaffold style compatibility */
.error-explanation {
  @extend .alert;
  @extend .alert-error;
  @extend .alert-block; /* optional */
}

.field_with_errors {
  @extend .control-group.error
}

.form-actions.unstyled {
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
  background-color: $white;
  border-top: none;
}

.matrix-table .paired-count.faded {
  &:hover {
    cursor: default;
    background: $white;
  }
}

.faded {
  opacity:0.1;
}

@mixin white-shadowed {
  color: $white;
  text-shadow: $black 1px 1px 2px;
  font-weight: bold;
}

.matrix-table {
  float: left;
  .matrix-row {
    clear: both;
    .matrix-cell {
      float: right;
      width: 55px;
      height: 55px;
      text-align: center;
      margin: 2px;
      line-height: 48px;
      border: 1px solid $white;
    }
    .paired-count {
      vertical-align: middle;
      font-size: 36px;
      cursor: pointer;
      border: 1px solid $black;
      &:hover {
        background: $green;
        color: $white;
      }
    }
    .possible-pair {
      @include white-shadowed;
      background: $orange !important;
      cursor: default;
    }
    .created-pair {
      @include white-shadowed;
      background: $green !important;
      cursor: default;
    }
    .pairing-count-notice {
      @include white-shadowed;
      background: $yellow;
    }
    .pairing-count-warning {
      @include white-shadowed;
      background: $red;
    }
  }
}

.employee-badge {
  margin-bottom: 4px;
  height: 30px;
  background: $white;
  border: 1px solid $black;
  width: 170px;
  .avatar {
    display: inline;
    float: left;
    margin: 0 10px 0 10px;
    img {
      height: 30px;
      width: 30px;
    }
  }
  .employee-name {
    padding-top: 10px;
    display: inline;
    color: $black;
    font-size: 14px;
  }
}

.team {
  float: left;
  margin-right: 10px;
  h5 {
    text-align: center;
    margin-top: 0px;
    background: $black;
    a {
      color: $white;
    }
  }
}

.available-employees {
  h5 {
    text-align: center;
    margin-top: 0px;
    background: $black;
    color: $white;
  }
}

.available-employees, .team {
  width: 200px;
  ul {
    min-height: 150px;
    list-style-type: none;
    padding: 5px;
    margin: 0px;
    li {
      cursor: move;
    }
  }
}

.ui-hover {
  background: $yellow;
}

.do-not-pair {
  border: 2px dashed $red;
}
